/*********************************************************************


                                HEADER overrides


**********************************************************************/
#head {
  background: #f4f4f4 url(../images/bg_head.jpg) center center;
  background-size: cover;
  color: #7C7C7C;
  padding: 30px 0 35px 0;
}

