{{ partial "header.html" . }}

<main id="main">

	<div class="container">
        <div class="row topspace">
            <div class="col-sm-8 col-sm-offset-2">
                {{ $pg := .Paginate (where .Data.Pages "Type" "post") 20 }}
                {{ range $pg.Pages }}
                <article class="post">
                    <header class="entry-header">
                        <span class="listentry"><a href="{{ .Permalink }}" rel="bookmark">{{ .Title }}</a></span>&nbsp;
                        <span class="listdate"><time class="entry-date published" date="{{ .Date }}">{{ dateFormat .Site.Params.DateForm .Date }}</time></span>
                    </header>
                    <div class="listdescr">
                        {{ .Description }}
                    </div>
                </article>
                {{ end }}

            </div>
        </div>

        <center class="">
            <ul class="pagination">
                {{ template "_internal/pagination.html" . }}
            </ul>
        </center>
 
	</div>	<!-- /container -->

</main>

{{ partial "footer.html" . }}
